<!--<div class="backdrop"></div>-->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="row">

        <div class="col-xs-12">
          <div class="mycv__section-header">
            <a href="cv.html" class="btn btn--primary btn--sm mycv__section-edit-btn">Guardar</a>
            <a href="cv.html" class="btn btn--default btn--sm mycv__section-edit-btn">Cancelar</a>
            <div class="mycv__section-title">Estudio</div>
          </div>
          <div class="mycv__section-body mycv__section-body--edit">
            <form method="post" action="cv.html">
              <div class="row">
                
                <div class="col-xs-12">

                  <div class="form-group">
                    <label>Título</label>
                    <input type="text" class="form-control" value="Product Manager">
                  </div>

                  <div class="form-group">
                    <label>País</label>
                    <div class="form-control--select">
                      <select class="form-control">
                        <option>Argentina</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Institución</label>
                    <div class="form-control--select">
                      <select class="form-control">
                        <option>Universidad de Buenos Aires</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Fecha de inicio</label>
                    <div class="row row--narrow">
                      <div class="col-xs-6">
                        <div class="form-control--select">
                          <select class="form-control">
                            <option>Enero</option>
                            <option>Febrero</option>
                            <option>Marzo</option>
                            <option>Abril</option>
                            <option>Mayo</option>
                            <option>Junio</option>
                            <option>Julio</option>
                            <option>Agosto</option>
                            <option>Septiembre</option>
                            <option>Octubre</option>
                            <option>Noviembre</option>
                            <option>Diciembre</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="form-control--select">
                          <select class="form-control">
                            <option>2012</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="checkbox">
                    <input id="mycv-working-checkbox" type="checkbox" value="">
                    <label for="mycv-working-checkbox">Estoy estudiando actualmente</label>
                  </div>

                  <div class="form-group">
                    <label>Fecha de finalización</label>
                    <div class="row row--narrow">
                      <div class="col-xs-6">
                        <div class="form-control--select">
                          <select class="form-control">
                            <option>Enero</option>
                            <option>Febrero</option>
                            <option>Marzo</option>
                            <option>Abril</option>
                            <option>Mayo</option>
                            <option>Junio</option>
                            <option>Julio</option>
                            <option>Agosto</option>
                            <option>Septiembre</option>
                            <option>Octubre</option>
                            <option>Noviembre</option>
                            <option>Diciembre</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="form-control--select">
                          <select class="form-control">
                            <option>2012</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Nivel de estudio</label>
                    <div class="form-control--select">
                      <select class="form-control">
                        <option>Universitario</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Estado</label>
                    <div class="form-control--select">
                      <select class="form-control">
                        <option>Graduado</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Área de estudio</label>
                    <div class="form-control--select">
                      <select class="form-control">
                        <option>Diseño de imagen y sonido</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Promedio</label>
                    <div class="row row--narrow">
                      <div class="col-xs-3">
                        <input type="text" class="form-control" value="8">
                      </div>
                      <div class="col-xs-9">
                        <div class="form-control--select">
                          <select class="form-control">
                            <option>Desde 1 hasta 10</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-submit">
                    <div class="row row--narrow">
                      <div class="col-xs-5 col-lg-4">
                        <a href="cv.html" class="btn btn--default btn--block btn--lg">Cancelar</a>
                      </div>
                      <div class="col-xs-7 col-lg-8">
                        <button type="submit" class="btn btn--primary btn--block btn--lg">Guardar</button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>