<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="main-footer__publish-phone">
          Para publicar una aviso llamá al <a href="tel:5030-1000">5030-1000</a>
        </div>
        <ul class="main-footer__links">
          <li><a href="/test/listings.html">Ayuda / FAQ</a></li>
          <li><a href="/test/listing-detail.html">Términos y Condiciones</a></li>
          <li><a href="/test/micv.html">Acerca Nuestro</a></li>
          <li><a href="/test/">Contáctenos</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="main-footer__navent-company">
          <a href="http://navent.com" class="main-footer__logo-navent"></a>
        </div>
        <div class="main-footer__copyright">
          Copyright &reg; 1999 - 2015 Navent Corp.
        </div>
      </div>
    </div>
  </div>
</footer>