
<div class="login-options">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4 col-sm-offset-1 col-md-offset-2">
        <a href="#" class="btn btn--primary btn--lg btn--block btn--google">Ingresar con Google</a>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-4">
        <a href="#" class="btn btn--primary btn--lg btn--block btn--facebook">Ingresar con Facebook</a>
      </div>
      <div class="col-xs-12">
        <div class="login-options-no-post">
          <span class="icon-lock"></span> <strong>No mostramos tus redes sociales</strong> a las empresas. Tambi&eacute;n podés <span class="nowrap"><a href="#">registrarte con tu e-mail.</a></span>
        </div>
      </div>
    </div>
  </div>
</div>