<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>bumeran.com</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../styles/bumeran.min.css">

    <script src="../../../rasti_core/scripts/jquery-1.11.2.min.js"></script>
    <script src="../../../rasti_core/scripts/jquery.mobile-events.js"></script>
    <script src="../../../rasti_core/scripts/modernizr.min.js"></script>
    <script src="../../../rasti_core/scripts/ich.min.js"></script>
    <script src="../../../rasti_core/scripts/helpers.js"></script>
    <script src="../../../rasti_core/scripts/buildtemplates.js"></script>
    <script src="../../../rasti_core/scripts/modal.js"></script>

  </head>
  <body>

    <div class="js-template-header" data-template-file="header" data-json-file="user"></div>
    
    <div class="js-template-listings-v2" data-template-file="listings/listings-v2" data-json-file="listings"></div>
    
    <div class="js-template-footer" data-template-file="footer" data-json-file="footer"></div>

  </body>
</html>