<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>bumeran.com</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../styles/bumeran.min.css">

    <script src="../../../rasti_core/scripts/jquery-1.11.2.min.js"></script>
    <script src="../../../rasti_core/scripts/jquery.mobile-events.js"></script>
    <script src="../../../rasti_core/scripts/modernizr.min.js"></script>
    <script src="../../../rasti_core/scripts/ich.min.js"></script>
    <script src="../../../rasti_core/scripts/helpers.js"></script>
    <script src="../../../rasti_core/scripts/buildtemplates.js"></script>
    <script src="../../../rasti_core/scripts/modal.js"></script>

  </head>
  <body id="listing-detail-page">

    <div class="js-template-header" data-template-file="header" data-json-file="user"></div>

    <div class="container">
      <div class="row">

        <div class="col-xs-12 hidden-xs">
          <div class="js-template-breadcrumb" data-template-file="breadcrumb" data-json-file="breadcrumb"></div>
        </div>

        <div class="col-xs-12 col-sm-7 col-lg-8">
          <div class="js-template-listing-detail" data-template-file="listings/listing-detail" data-json-file="listing-detail"></div>
        </div>

        <div class="col-xs-12 col-sm-5 col-lg-4">
          <div class="listing-detail__similar-listings-title">Otros avisos que pueden interesarte</div>
          <div class="js-template-grouped-listings" data-template-file="listings/grouped-listings" data-json-file="similar-listings"></div>
        </div>

      </div>
    </div>

    <div class="js-template-footer" data-template-file="footer" data-json-file="footer"></div>

  </body>
</html>