<div class="modal fade" id="modal-registration" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal__close" data-dismiss="modal">&times;</span>
        <h4 class="modal-title" id="myModalLabel">Registro para usuarios nuevos</h4>
      </div>
      <div class="modal-body">
        <a href="#" class="btn btn--primary btn--lg btn--block btn--google">Registrarme con Google</a>
        <a href="#" class="btn btn--primary btn--lg btn--block btn--facebook">Registrarme con Facebook</a>
        <div class="login-options-no-post login-options-no-post--modal">
          <span class="icon-lock"></span> <strong>No mostramos tus redes sociales</strong> a las empresas. Tambi&eacute;n podés:
        </div>
        <a href="#" class="btn btn--default btn--lg btn--block">Registrarme con mi e-mail</a>
      </div>
      <div class="modal-footer">
        <div class="modal-log-options__toggle-mode">Si ya estás registrado <a href="#">ingresá acá</a></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-login" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal__close" data-dismiss="modal">&times;</span>
        <h4 class="modal-title" id="myModalLabel">Ingreso para usuarios registrados</h4>
      </div>
      <div class="modal-body">
        <form method="post" class="modal-log-option__login-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="E-mail">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Contraseña">
          </div>
          <button type="submit" class="btn btn--primary btn--block btn--lg">Ingresar</button>
        </form>

        <div class="modal-log-options__separator"><span>o ingresar con</span></div>

        <div class="row row--narrow">
          <div class="col-xs-6">
            <a href="#" class="btn btn--primary btn--lg btn--block btn--google">Google</a>
          </div>
          <div class="col-xs-6">
            <a href="#" class="btn btn--primary btn--lg btn--block btn--facebook">Facebook</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="modal-log-options__toggle-mode">Si no estás registrado <a href="#">ingresá acá</a></div>
      </div>
    </div>
  </div>
</div>