<div class="categories-container">
  <div class="categories-title">Empleos por área</div>
  <ul>
  	<li><a class="categories__link" href="#" data-count="22">Administración</a></li>
    <li><a class="categories__link" href="#" data-count="22">Call Center</a></li>
    <li><a class="categories__link" href="#" data-count="22">Comercio Exterior</a></li>
    <li><a class="categories__link" href="#" data-count="22">Comunicación</a></li>
    <li><a class="categories__link" href="#" data-count="22">Construcción</a></li>
    <li><a class="categories__link" href="#" data-count="22">Diseño</a></li>
    <li><a class="categories__link" href="#" data-count="22">Educación</a></li>
    <li><a class="categories__link" href="#" data-count="22">Finanzas</a></li>
    <li><a class="categories__link" href="#" data-count="22">Gastronomía y Turismo</a></li>
    <li><a class="categories__link" href="#" data-count="22">Gerencia</a></li>
    <li><a class="categories__link" href="#" data-count="22">Ingeniería</a></li>
    <li><a class="categories__link" href="#" data-count="22">Legales</a></li>
    <li><a class="categories__link" href="#" data-count="22">Logística</a></li>
    <li><a class="categories__link" href="#" data-count="22">Marketing</a></li>
    <li><a class="categories__link" href="#" data-count="22">Medicina</a></li>
    <li><a class="categories__link" href="#" data-count="22">Minería</a></li>
    <li><a class="categories__link" href="#" data-count="22">Oficios</a></li>
    <li><a class="categories__link" href="#" data-count="22">Producción</a></li>
    <li><a class="categories__link" href="#" data-count="22">RRHH</a></li>
    <li><a class="categories__link" href="#" data-count="22">Secretaria</a></li>
    <li><a class="categories__link" href="#" data-count="22">Seguros</a></li>
    <li><a class="categories__link" href="#" data-count="22">Tecnología</a></li>
    <li><a class="categories__link" href="#" data-count="22">Ventas</a></li>
  </ul>
</div>