<!--<div class="backdrop"></div>-->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="row">

        <div class="col-xs-12">
          <div class="mycv__section-header">
            <a href="micv.html" class="btn btn--primary btn--sm mycv__section-edit-btn">Guardar</a>
            <a href="micv.html" class="btn btn--default btn--sm mycv__section-edit-btn">Cancelar</a>
            <div class="mycv__section-title">Idioma</div>
          </div>
          <div class="mycv__section-body mycv__section-body--edit">
            <form method="post" action="micv.html">
              <div class="row">
                
                <div class="col-xs-12">

                  <div class="form-group">
                    <label>Idioma</label>
                    <div class="form-control--select">
                      <select class="form-control">
                        <option>Inglés</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row row--narrow">
                      <div class="col-xs-6">
                        <label>Escrito</label>
                        <div class="form-control--select">
                          <select class="form-control">
                            <option>Básico</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <label>Oral</label>
                        <div class="form-control--select">
                          <select class="form-control">
                            <option>Intermedio</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-submit">
                    <button type="submit" class="btn btn--primary btn--block btn--lg">Guardar Idioma</button>
                    <a href="micv.html" class="btn btn--default btn--block">Cancelar</a>
                  </div>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>