<div class="body-overlay js-class-toggler" data-element="html" data-class="is-nav-open"></div>

<header class="main-header">
  <div class="container">
    <div class="row">

      <a href="index.html" class="main-header__logo">bumeran.com</a>
      <a href="#" class="main-header__search"><span class="icon-magnifying-glass"></span></a>
      <a href="#" class="main-header__menu js-class-toggler hidden-xs" data-element=".main-header__nav-items-standard" data-class="is-open"><span class="icon-menu"></span></a>
      <a href="#" class="main-header__menu js-class-toggler visible-xs-block" data-element="html" data-class="is-nav-open"><span class="icon-menu"></span></a>  
      
      <!--
      <form class="main-header__search-form" action="#">
        <input type="search" autocomplete="off" name="search" id="search" class="main-header__search-input" placeholder="Buscar Empleos">
        <label for="search" class="main-header__search-label"><span class="icon-magnifying-glass"></span></label>
      </form>
      -->

      <div class="main-header__nav">

        {{^logged}}
        <div class="main-header__nav-login">
          <a href="#" class="btn btn--default" data-toggle="modal" data-target="#modal-login">Ingresar</a>
          <a href="#" class="btn btn--primary" data-toggle="modal" data-target="#modal-registration">Registrarme</a>
        </div>
        {{/logged}}

        {{#logged}}
        <ul class="main-header__nav-items">
          <li>
            <a href="#" class="main-header__nav-item main-header__nav-item--dropdown main-header__nav-item--user-menu">
              <img class="main-header__profile-photo" src="{{photoUrl}}"> {{names}}
            </a>
          </li>
        </ul>
        <ul class="main-header__nav-items main-header__nav-items--notification">
          <li>
            <a href="#" class="main-header__nav-item main-header__nav-item--notification">
              <span class="btn--notification is-unread" data-unread="58">
                <span class="icon-message"></span>
              </span>
            </a>
          </li>
          <li>
            <a href="#" class="main-header__nav-item main-header__nav-item--notification">
              <span class="btn--notification is-disabled">
                <span class="icon-mail"></span>
              </span>
            </a>
          </li>
        </ul>
        {{/logged}}

        <ul class="main-header__nav-items main-header__nav-items-standard">

          {{#logged}}
          <li><a href="micv.html" class="main-header__nav-item">Mi CV</a></li><!--is-selected-->
          <li><a href="#" class="main-header__nav-item">Mis Postulaciones</a></li>
          {{/logged}}

          <li>

            {{#logged}}
            <a href="#" class="main-header__nav-item main-header__nav-item--dropdown js-class-toggler" data-element=".main-header__nav-items-additional" data-class="is-open">Más</a>
            {{/logged}}

            <ul class="main-header__nav-items {{#logged}}main-header__nav-items-additional{{/logged}}">
              <li><a href="#" class="main-header__nav-item">Buscar avisos</a></li>
              <li><a href="#" class="main-header__nav-item">Bumeran Premium</a></li>
              {{^logged}}<li><a href="#" class="main-header__nav-item">Para empresas</a></li>{{/logged}}
            </ul>

          </li>
        </ul>

      </div>      

    </div>
  </div>
</header>