<div class="home-hero">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="home-hero__title">
          &iexcl;Encontr&aacute; <strong>nuevos <br><span class="nowrap">empleos todos los d&iacute;as!</span></strong>
        </div>
        <form class="home-hero__search-form" action="listings.html">
          <input type="search" autocomplete="off" name="hero-search" id="hero-search" class="home-hero__search-input" placeholder="Área, Empresa o Puesto">
          <label for="hero-search" class="home-hero__search-label"><span class="icon-magnifying-glass"></span></label>
        </form>
      </div>
    </div>
  </div>

  {{^logged}}
  <div class="home-hero__instructions">
    Registrate y comenz&aacute; a postularte<br>en menos de <strong>2</strong> minutos
  </div>
  {{/logged}}
  
</div>